.featured-property-card {
  border-radius: 8px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);

    .property-share-badge {
      display: block;
      position: absolute;
      top: 16px;
      right: 16px;
      border-radius: 50%;
      font-size: (12 / $base-font-size) + rem;
      font-weight: $light-font-weight;
      padding: 8px 8px;
      background-color: $white-color;
      border: none;
      z-index: 9;
      cursor: pointer;
    }
  }
  .property-share-badge {
    display: none;
  }
  @extend %transition;
  &--card-buy {
    border: 1px solid $theme-border-color;
    border-radius: 8px;
    .property-badge {
      position: absolute;
      top: 16px;
      left: 16px;
      border-radius: 4px;
      font-size: (12 / $base-font-size) + rem;
      font-weight: $light-font-weight;
      padding: 5px 8px;
      background-color: $white-color;
      border: none;
      z-index: 9;
    }

    .buy-card-details {
      padding: 20px;
      min-height: 280px;
      display: flex;
      gap: 6px;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: (19 / $base-font-size) + rem;
        font-weight: $bold-font-weight;
        color: $theme-font-heading-color;
      }
      h4 {
        font-size: (15 / $base-font-size) + rem;
        font-weight: $medium-font-weight;
        color: $theme-secondary-color;
      }
      h5 {
        font-size: (12 / $base-font-size) + rem;
        font-weight: $light-font-weight;
        margin-bottom: 1rem;
        color: $theme-terciary-color;
      }
      .price {
        font-size: (15 / $base-font-size) + rem;
        font-weight: $bold-font-weight;
        color: $theme-primary-color;
      }
      .price_extra {
        color: #babbbb;
        font-size: (12 / $base-font-size) + rem;
        font-weight: $medium-font-weight;
      }
      p {
        font-size: (13 / $base-font-size) + rem;
        font-weight: $light-font-weight;
        color: $theme-terciary-color;
      }
    }
    .property-card-features {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1rem;

      > :nth-child(2) {
        border-left: 1px solid #dadce0;
        padding-left: 1rem;
      }

      > :nth-child(4) {
        border-left: 1px solid #dadce0;
        padding-left: 1rem;
      }

      span {
        color: $theme-font-heading-color;
        font-size: (13 / $base-font-size) + rem;
        padding-bottom: 4px;
      }
    }
  }
}
.featured-property-card__image {
  height: 214px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.featured-property-buy-wrapper {
  padding: 52px 0;
  &--title {
    h3 {
      font-weight: $bold-font-weight;
      font-size: (22 / $base-font-size) + rem;
      padding-bottom: 24px;
      @media (max-width: ($mobile-devices-max-width)+px) {
        font-size: (24 / $base-font-size) + rem;
        text-align: center;
        padding-bottom: 0;
      }
    }
  }
  &--slider-controls-buy {
    @media (max-width: ($mobile-devices-max-width)+px) {
      margin: 12px auto;
    }
    a {
      @media (max-width: ($mobile-devices-max-width)+px) {
        font-size: (18 / $base-font-size) + rem;
      }
      font-size: (23 / $base-font-size) + rem;
      border-bottom: 1px solid $theme-slider-link;
      font-weight: $light-font-weight;
      color: $theme-slider-link;
      margin-right: 32px;
      &:hover {
        color: $theme-primary-color;
        border-bottom: 1px solid $theme-primary-color;
        transition: 0.3s ease;
      }
    }
    img {
      padding: 9px;
      background-color: #f7f7f8;
      border-radius: 50%;
      &:hover {
        background-color: #dadce0;
      }
    }
    .arrow {
      &.swiper-button-disabled {
        img {
          opacity: 0.5;
        }
      }
    }
  }
}
